@(usuario: Usuario, mensaje: String)
@main("Detalle usuario") {
    <div class="jumbotron">
        <h2>Detalle del usuario @usuario.id</h2>
    </div>
    <ul>
        <li><b>Login:</b> @usuario.login</li>
        <li><b>Nombre:</b> @usuario.nombre</li>
        <li><b>Apellidos:</b> @usuario.apellidos</li>
        <li><b>Correo electrónico:</b> @usuario.eMail</li>
        <li><b>Fecha de nacimiento:</b> @usuario.getFechaNacimientoFormated()</li>
    </ul>
    <p>
        <a class="btn btn-primary" href="@routes.Usuarios.editarUsuario(usuario.id)">Editar</a>
        <a class="btn btn-danger" href="@routes.Usuarios.listaUsuarios()">Cancelar</a>
    </p>

}
