@(tareaForm: Form[Tarea], usuarioId: Integer, mensaje: String)
@main("Editar tarea") {
    <div class="jumbotron">
        <h2>Editar tarea</h2>
    </div>
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
    @helper.form(action = routes.Tareas.grabaTareaModificada(usuarioId)) {
        <fieldset>
            <legend>Tarea @tareaForm("id").value</legend>
            <input type="hidden" name="id" value='@tareaForm("id").value' >
            <div class="form-group">@helper.inputText(tareaForm("descripcion"), '_label -> "descripcion", 'class -> "form-control")</div>
        </fieldset>
        <p>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <a class="btn btn-danger" href="@routes.Tareas.listaTareas(usuarioId)">Cancelar</a></p>
    }
}
