@(tareaForm: Form[Tarea], usuarioId: Integer, mensaje: String)
@main("Añadir nueva tarea") {
    <div class="jumbotron">
        <h2>Añadir nueva tarea</h2>
    </div>
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
    @helper.form(action = routes.Tareas.grabaNuevaTarea(usuarioId)) {
        <fieldset>
            <div class="form-group">
            @helper.inputText(tareaForm("descripcion"), '_label -> "Descripción", 'class -> "form-control")
            </div>
        </fieldset>
        <p>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <a class="btn btn-danger" href="@routes.Tareas.listaTareas(usuarioId)">Cancelar</a></p>
    }
}
