@(registroForm: Form[Usuario], mensaje: String)
@main("Registrarse") {
    <div class="jumbotron">
        <h2>Registrarse</h2>
    </div>
    @helper.form(action = routes.Acceso.registrarUsuario()) {
        <fieldset>
            <div class="form-group">
            @helper.inputText(registroForm("login"), '_label -> "Login", 'class -> "form-control")
            </div>
            <div class="form-group">
            @helper.inputText(registroForm("password"), '_label -> "Password", 'class -> "form-control")
            </div>
            <div class="form-group">
            @helper.inputText(registroForm("nombre"), '_label -> "Nombre", 'class -> "form-control")
            </div>
            <div class="form-group">
            @helper.inputText(registroForm("apellidos"), '_label -> "Apellidos", 'class -> "form-control")
            </div>
            <div class="form-group">
            @helper.inputText(registroForm("eMail"), '_label -> "Correo electrónico", 'class -> "form-control")
            </div>
            <div class="form-group">
            @helper.inputText(registroForm("fechaNacimiento"), '_label -> "Fecha nacimiento (dd-mm-aaaa)", 'class -> "form-control")
            </div>
        </fieldset>
        <p>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <a class="btn btn-danger" href="@routes.Acceso.showLogin()">Cancelar</a></p>
    }
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
}
