@(usuarioForm: Form[Usuario], mensaje: String)
@main("Añadir usuario") {
    <div class="jumbotron">
        <h2>Añadir nuevo usuario</h2>
    </div>
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
    @helper.form(action = routes.Usuarios.grabaNuevoUsuario()) {
        <fieldset>
            <div class="form-group">
            @helper.inputText(usuarioForm("login"), '_label -> "Login", 'class -> "form-control")
            </div>
            <div class="form-group">
            @helper.inputText(usuarioForm("password"), '_label -> "Password", 'class -> "form-control")
            </div>
            <div class="form-group">
            @helper.inputText(usuarioForm("nombre"), '_label -> "Nombre", 'class -> "form-control")
            </div>
            <div class="form-group">
            @helper.inputText(usuarioForm("apellidos"), '_label -> "Apellidos", 'class -> "form-control")
            </div>
            <div class="form-group">
            @helper.inputText(usuarioForm("eMail"), '_label -> "Correo electrónico", 'class -> "form-control")
            </div>
            <div class="form-group">
            @helper.inputText(usuarioForm("fechaNacimiento"), '_label -> "Fecha nacimiento (dd-mm-aaaa)", 'class -> "form-control")
            </div>
        </fieldset>
        <p>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <a class="btn btn-danger" href="@routes.Usuarios.listaUsuarios()">Cancelar</a></p>
    }

}
