@(tareas: List[Tarea], usuarioId: Integer, mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}
@main("Listado de tareas", scripts) {
    <div class="jumbotron"> <h2>Listado de tareas</h2> </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Descripcion</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
        @for(tarea <- tareas) {
            <tr>
                <th>@tarea.id</th>
                <td>@tarea.descripcion</td>
                <td>
                    <a onmouseover="" style="cursor: pointer;" href="@routes.Tareas.editarTarea(usuarioId, tarea.id)">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    <a onmouseover="" style="cursor: pointer;" onclick="del('@routes.Tareas.borraTarea(usuarioId, tarea.id)')">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr class="info">
                <td>
                    <a href="@routes.Tareas.formularioNuevaTarea(usuarioId)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                </td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    @if(mensaje != null) {
        <div class="alert alert-success">
            @mensaje
        </div>
    }

}
