@(usuarios: List[Usuario], mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}
@main("Listado de usuarios", scripts) {

    <div class="jumbotron"> <h2>Listado de usuarios</h2> </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Login</td>
                <td>Nombre</td>
                <td>Apellidos</td>
                <td>Acción</td>
            </tr>
        </thead>
        <tbody>
        @for(usuario <- usuarios) {
            <tr>
                <th>@usuario.id</th>
                <td>@usuario.login</td>
                <td>@usuario.nombre</td>
                <td>@usuario.apellidos</td>
                <td>
                    <a onmouseover="" style="cursor: pointer;" href="@routes.Usuarios.detalleUsuario(usuario.id)">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    <a onmouseover="" style="cursor: pointer;" href="@routes.Usuarios.editarUsuario(usuario.id)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a onmouseover="" style="cursor: pointer;" onclick="del('@routes.Usuarios.borraUsuario(usuario.id)')">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </td>
            </tr>
        }
        <tr class="info">
            <td>
                <a href="@routes.Usuarios.formularioNuevoUsuario()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    @if(mensaje != null) {
        <div class="alert alert-success">
            @mensaje
        </div>
    }
}
